<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true"
                     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                     xsi:schemaLocation="http://jakarta.apache.org/log4j/ ">
    <!-- 业务日志，生产环境使用 -->
    <appender name="FILE_LOG" class="org.apache.log4j.RollingFileAppender">
        <param name="encoding" value="UTF-8"/>
        <param name="Threshold" value="DEBUG"/>
        <param name="File" value="log/system.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="15000KB"/>
        <param name="MaxBackupIndex" value="100"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%x] %t [%-5p] (%F,%L) - %m%n"/>
        </layout>
    </appender>

    <!-- 控制台日志，开发阶段使用-->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <param name="Threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%x] %t [%-5p](%c %F,%L) - %m%n"/>
        </layout>
    </appender>

    <!-- 默认的异步文件日志输出，生产环境都采用此appender -->
    <appender name="ASYNC_FILE_LOG" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="256"/>
        <param name="LocationInfo" value="true"/>
        <appender-ref ref="FILE_LOG"/>
    </appender>
    <!-- console 异步日志,开发环境都使用此appender，方便调试 -->
    <appender name="ASYNC_CONSOLE" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="64"/>
        <param name="LocationInfo" value="true"/>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <category name="com.newland">
        <param name="additivity" value="false"/>
        <priority value="DEBUG"/>
        <appender-ref ref="ASYNC_CONSOLE"/>
        <appender-ref ref="ASYNC_FILE_LOG"/>
    </category>
    <category name="org.apache.struts2">
        <param name="additivity" value="false"/>
        <priority value="INFO"/>
        <appender-ref ref="ASYNC_CONSOLE"/>
        <appender-ref ref="ASYNC_FILE_LOG"/>
    </category>
    <root>
        <priority value="INFO"/>
        <appender-ref ref="ASYNC_CONSOLE"/>
        <appender-ref ref="ASYNC_FILE_LOG"/>
    </root>
</log4j:configuration> 